<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Admin</h1>
        <alert :message=message v-if="showMessage"></alert>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">File Name</th>
              <th scope="col" class="text-right">Feedback Ready</th>
              <th class="text-right">
                <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        @click="requestFeedbackAll()"
                        >
                    Run Feedback Generator for All
                </button>
                <button
                        type="button"
                        class="btn btn-success btn-sm"
                        @click="downloadFeedbackAll()"
                        >
                    Download Feedback for All
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(file, index) in files" :key="index">
              <td class="text-left">{{ file.name }}</td>
              <td class="text-right">
                <span v-if="file.feedback">Yes</span>
                <span v-else>No</span>
              </td>
              <td class="text-right">
                <div class="btn-group" role="group">
                  <button
                          type="button"
                          class="btn btn-primary btn-sm"
                          v-b-modal.file-update-modal
                          :disabled="file.feedback"
                          @click="requestFeedback(file)">
                      Run Feedback Generator
                  </button>
                  <button
                          type="button"
                          class="btn btn-success btn-sm"
                          v-b-modal.file-update-modal
                          :disabled="!file.feedback"
                          @click="downloadFeedback(file)">
                      Download Feedback
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Model Solution</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(file, index) in model" :key="index">
              <td class="text-left">{{ file.name }}</td>
              <td class="text-right">
                <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        @click="onDeleteModel()">
                    Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.file-modal>
          Submit Model Answer
        </button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Test Files</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(file, index) in tests" :key="index">
              <td class="text-left">{{ file.name }}</td>
              <td class="text-right">
                <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        @click="onDeleteTest()">
                    Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success btn-sm" v-b-modal.test-modal>
          Submit Test Cases
        </button>
        <br><br>
        <br><br>
      </div>
    </div>
    <b-modal ref="addFileModal"
            id="file-modal"
            title="Submit Model Answer"
            hide-footer>
      <b-form @reset="onReset" class="w-100">
          <div id="app">
            <div class="container">
              <!--UPLOAD-->
              <form enctype="multipart/form-data" novalidate
              v-if="isInitial || isSaving">
                <div class="dropbox">
                  <input type="file"
                  name="file"
                  :disabled="isSaving"
                  @change="filesChange($event.target.files)"
                  accept=".pl" class="input-file">
                    <p v-if="isInitial">
                      Drag your file here to upload<br> or click to browse
                    </p>
                    <p v-if="isSaving">
                      Uploading file...
                    </p>
                </div>
              </form>

              <!--SUCCESS-->
              <div v-if="isSuccess">
                <h2>Uploaded file successfully.</h2>
                <br>
                <p>
                  <a href="javascript:void(0)" @click="reset()">Upload again</a>
                </p>
                <ul class="list-unstyled">
                  <li v-for="item in uploadedFiles" :key="item.id">
                    <img :src="item.url"
                    class="img-responsive img-thumbnail"
                    :alt="item.originalName">
                  </li>
                </ul>
              </div>
              <!--FAILED-->
              <div v-if="isFailed">
                <h2>Uploaded failed.</h2>
                <p>
                  <a href="javascript:void(0)" @click="reset()">Try again</a>
                </p>
                <pre>{{ uploadError }}</pre>
              </div>
            </div>
          </div>
          <b-button type="reset" variant="danger">Close</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="addFileModal"
            id="test-modal"
            title="Submit Test Cases"
            hide-footer>
      <b-form @reset="onReset" class="w-100">
          <div id="app">
            <div class="container">
              <!--UPLOAD-->
              <form enctype="multipart/form-data" novalidate
              v-if="isInitial || isSaving">
                <div class="dropbox">
                  <input type="file"
                  name="file"
                  :disabled="isSaving"
                  @change="filesTestChange($event.target.files)"
                  accept=".txt" class="input-file">
                    <p v-if="isInitial">
                      Drag your file here to upload<br> or click to browse
                    </p>
                    <p v-if="isSaving">
                      Uploading file...
                    </p>
                </div>
              </form>

              <!--SUCCESS-->
              <div v-if="isSuccess">
                <h2>Uploaded file successfully.</h2>
                <br>
                <p>
                  <a href="javascript:void(0)" @click="reset()">Upload again</a>
                </p>
                <ul class="list-unstyled">
                  <li v-for="item in uploadedFiles" :key="item.id">
                    <img :src="item.url"
                    class="img-responsive img-thumbnail"
                    :alt="item.originalName">
                  </li>
                </ul>
              </div>
              <!--FAILED-->
              <div v-if="isFailed">
                <h2>Uploaded failed.</h2>
                <p>
                  <a href="javascript:void(0)" @click="reset()">Try again</a>
                </p>
                <pre>{{ uploadError }}</pre>
              </div>
            </div>
          </div>
          <b-button type="reset" variant="danger">Close</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';

const STATUS_INITIAL = 0;
const STATUS_SAVING = 1;
const STATUS_SUCCESS = 2;
const STATUS_FAILED = 3;

const databasePath = 'http://localhost:5000';

export default {
  name: 'app',
  data() {
    return {
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      files: [],
      model: [],
      tests: [],
      message: '',
      showMessage: false,
      editForm: {
        id: '',
        title: '',
        author: '',
        read: [],
      },
    };
  },

  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
  },
  methods: {
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    filesChange(fileList) {
      const formData = new FormData();

      if (!fileList.length) return;

      const path = `${databasePath}/model`;

      formData.append('file', fileList[0]);
      formData.append('name', fileList[0].name);

      axios.post(path, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      })
        .then((x) => {
          this.uploadedFiles = [].concat(x);
          this.currentStatus = STATUS_SUCCESS;
        })
        .catch((err) => {
          this.uploadError = err.response;
          this.currentStatus = STATUS_FAILED;
        });
    },
    filesTestChange(fileList) {
      const formData = new FormData();

      if (!fileList.length) return;

      const path = `${databasePath}/tests`;

      formData.append('file', fileList[0]);
      formData.append('name', fileList[0].name);

      axios.post(path, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      })
        .then((x) => {
          this.uploadedFiles = [].concat(x);
          this.currentStatus = STATUS_SUCCESS;
        })
        .catch((err) => {
          this.uploadError = err.response;
          this.currentStatus = STATUS_FAILED;
        });
    },
    requestFeedback(file) {
      const path = `${databasePath}/files/feedback/${file.id}`;
      axios.post(path)
        .then(() => {
          this.getFiles();
          this.message = 'Generating feedback! Please wait...';
          this.showMessage = true;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    downloadFeedback(file) {
      const path = `${databasePath}/files/feedback/${file.id}`;
      axios.get(path)
        .then(({ data }) => {
          const blob = new Blob([data], { type: 'application/zip' });
          const link = document.createElement('a');
          link.href = window.URL.createObjectURL(blob);
          link.download = `${file.name}_feedback_lecturer.txt`;
          link.click();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    requestFeedbackAll() {
      const path = `${databasePath}/files/feedback/`;
      axios.post(path)
        .then(() => {
          this.getFiles();
          this.message = 'Generating feedback! Please wait...';
          this.showMessage = true;
        })
        .catch((error) => {
          console.error(error);
        });
    },
    downloadFeedbackAll() {
      const path = `${databasePath}/files/feedback/`;
      axios.get(path, { responseType: 'blob' })
        .then(({ data }) => {
          const blob = new Blob([data], { type: 'zip' });
          const link = document.createElement('a');
          link.href = window.URL.createObjectURL(blob);
          link.download = 'all_feedback.zip';
          link.click();
        })
        .catch((error) => {
          console.error(error);
        });
    },
    getModel() {
      const path = `${databasePath}/model`;
      axios.get(path)
        .then((res) => {
          this.model = res.data.files;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getTests() {
      const path = `${databasePath}/tests`;
      axios.get(path)
        .then((res) => {
          this.tests = res.data.files;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    getFiles() {
      const path = `${databasePath}/files`;
      axios.get(path)
        .then((res) => {
          this.files = res.data.files;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addFileModal.hide();
      this.getModel();
      this.getTests();
    },
    onDeleteModel() {
      const path = `${databasePath}/model`;
      axios.delete(path)
        .then(() => {
          this.getModel();
          this.message = 'Model answer removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getModel();
        });
    },
    onDeleteTest() {
      const path = `${databasePath}/tests`;
      axios.delete(path)
        .then(() => {
          this.getTests();
          this.message = 'Test cases removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getTests();
        });
    },
  },
  mounted() {
    this.reset();
  },

  components: {
    alert: Alert,
  },
  created() {
    this.getModel();
    this.getTests();
    this.getFiles();
  },
};
</script>
